In [138]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests 
import os
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [139]:
executable_path = {'executable_path':"C:\\Users\\15404\\.wdm\\drivers\\chromedriver\\win32\\87.0.4280.88\\chromedriver.exe" }
browser = Browser('chrome', **executable_path, headless=False)

In [140]:


url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)
soup = bs(response.text,'html.parser')



first_title = soup.find('div', class_= "content_title").find('a').text.strip()
first_paragph = soup.find('div', class_= "rollover_description_inner").text.strip()

#printing results
print(first_title)
print("\n"+first_paragph)

NASA to Host Virtual Briefing on February Perseverance Mars Rover Landing

NASA leadership and members of the mission will discuss the agency’s latest rover, which touches down on the Red Planet on Feb. 18.

In [141]:
featured_image_url = "https://www.jpl.nasa.gov/images/southern-dunes-2/"
browser.visit(featured_image_url)

In [142]:
#using pandas to extract table info
url="https://space-facts.com/mars/"
table_string= pd.read_html(url)

print(len(table_string))

3

In [143]:
#display output
print(table_string[0])
print (table_string[1])
print (table_string[2])

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers
  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C
                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [144]:
#image dictionary
hemisphere_image_urls = [
    {"Cerberus Hemisphere Enhanced": "Cerberus", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"Schiaparelli Hemisphere Enhanced": "Schiaparelli", "img_url": "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"},
    {"Syrtis Major Hemisphere Enhanced": "Syrtis", "img_url": "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"},
    {"Valles Marineris Hemisphere Enhanced": "valles", "img_url": "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"},
]

In [145]:
#scraping
app = Flask(__name__)
app.config["MONGO_URI"] = "mongodb://localhost:27017/mars_app"
mongo = PyMongo(app)



@app.route("/")
def index():
    table_string = mongo.db.table_string()
    return render_template("index.html", table_string=table_string)


mongo = PyMongo(app, uri="mongodb://localhost:27017/")
#route to render html
@app.route("/scrape")
def scrape():

 # Run the scrape function
   table_string = scrape_mars.scrape_info()
print ("index.html")
   
if __name__ == "__main__":
    app.run(debug=True)

index.html
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with windowsapi reloader

SystemExit: 1

C:\Users\15404\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3351: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [148]:
url = "https://space-facts.com/mars/"
browser.visit(url)
# Use Pandas to "read_html" to parse the URL
tables = pd.read_html(url)

#lists of DataFrames
df = tables[0]
#Assign the columns

html_table = df.to_html(table_id="html_tbl_css",justify='left',index=False)
 
#display table
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [149]:
mars_df = df.to_html(classes = 'table table-striped')
print(mars_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>